.main-block{
	margin-top: 50px;
	min-height: 500px;
	background: #fff;
	box-shadow: 0 1px 4px #ccc;
}
.main-block h1{
	text-align: center;
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
	color: #aaa;
	margin: 0;
}

.new-item-input{
	width: 100%;
	padding: 10px 15px;
	border: none;
	outline: none;
	border-bottom: 1px solid #ccc;
}

.item-block{
	display: block;
	padding: 10px 15px;
}
.done{
	color: #ccc;
	text-decoration: line-through;
}
.right-btns button{
	margin-left: 5px;
	border-radius: 50%;
	background: #eee;
	color: #666;
	outline: none;
}