.main-block{
	margin-top: 50px;
	min-height: 500px;
	background: #fff;
	box-shadow: 0 1px 10px 1px #bbb;
}
.main-block h1{
	text-align: center;
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
	color: #aaa;
	margin: 0;
}

.new-item-input{
	width: 100%;
	padding: 10px 15px;
	border: none;
	outline: none;
	border-bottom: 1px solid #ccc;
}

.incomplete-item-list{
	color: #555;
}

.item-block{
	display: block;
	padding: 5px 15px;
	border-bottom: 1px solid #ddd;
	line-height: 30px;
}
.right-btns button{
	margin-left: 5px;
	background: #f3f3f3;
	color: #666;
	outline: none;
	transition: all .5s;
}
.right-btns button:hover{
	background: #eee;
	box-shadow: 0 1px 3px #ddd inset;
}
.completed-item-list{
	margin-top: 20px;
}
.done{
	color: #aaa;
	text-decoration: line-through;
}
.sub-heading{
	padding-left: 15px;
	padding-bottom: 5px;
	color: #555;
	border-bottom: 1px solid #ccc;
	font-size: 16px;
}

.task-input{
	border: none;
	width: 100%;
	outline: none;
}





